@import url('../design_nav/nav.css');

nav{
    margin: 1rem;
}

.list_solicitudes{
    display: flex;
    justify-content: space-between;
    max-width: 91%;
    margin: auto;
}

h4{
    text-align: center;
    text-transform: uppercase;
}

.soli_aceptadas{
    width: 70%;
    border: 1px solid black;
}


.soli_rechazadas{
    width: 30%;
    border: 1px solid black;
}


.container_aprobado{
    width: 90%;
    text-transform: uppercase;
    border: 2.3px solid rgb(247, 247, 247);
    border-bottom: 0.2rem solid black;
    margin: 1rem;
    border-top-left-radius: 0.9rem;
    padding: 0.2rem 0.5rem;
}

.container_aprobado > small{
    color: green;
}

.container_aprobadoE{
    width: 90%;
    text-transform: uppercase;
    border: 1px solid rgb(247, 247, 247);
    margin: auto;
    border-bottom: 0.2rem solid black;
    border-top-right-radius: 0.9rem;
    padding: 0.3rem;
    margin-bottom: 1rem;
}


.container_aprobadoE > small{
    color: red;
}

@media screen and (max-width:900px){
    .list_solicitudes{
        flex-direction: column;
    }

    .soli_aceptadas{
        width: 100%;
        border: 1px solid black;
        margin-bottom: 1rem;
    }
    
    
    .soli_rechazadas{
        width: 100%;
        border: 1px solid black;
    }
    

}